a(href="run"): h1 Benchmarks
ul
	li: a(href="halfStatic") Half Static
	li: a(href="heavySprite") Heavy Sprite
	li: a(href="largeScene") Large Scene
	li: a(href="spriteComposite") Sprite Composite
	li: a(href="spriteGradient") Sprite Gradient
		
		